# This is an example of your .env file format, which npm run db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgres://engco:engco@127.0.0.1:5432/engco
BASE_URL=http://localhost:3000
AUTH_SECRET=***
